/* ==========================================================================
   WooCommerce Buttons styles - begin
   ========================================================================== */

.woocommerce-page .edgtf-content,
div.woocommerce {

	a.button,
	a.added_to_cart,
	input[type="submit"],
	button[type="submit"],
	.wc-forward:not(.added_to_cart):not(.checkout-button) {
		@include edgtfButtonDefaultStyle();
		@include edgtfButtonMediumParams();
		@include edgtfButtonSolidColor();
		@include edgtfTransition(color .2s ease-in-out, background-color .2s ease-in-out);
		cursor: pointer;

		&:hover {
			color: #fff;
			background-color: $default-heading-color;
		}
	}

	a.button.added {
		display: none;
	}

	.wc-forward:not(.added_to_cart):not(.checkout-button) {
		height: 38px;
		line-height: 38px;
		padding: 0 24px;
	}
}
/* ==========================================================================
   WooCommerce Buttons styles - end
   ========================================================================== */